<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav me-auto">
        <li class="nav-item active">
            <a id="sidebar-toggle" class="sidebar-toggle nav-link" href="#">
                <i class="fal fa-bars"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Left</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Right</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
</nav>