<div class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-logo">
      <div class="d-flex align-items-center flex-nowrap">
        <a class="sidebar-link text-decoration-none" href="#">
          <div class="d-flex align-items-center flex-nowrap">
            <div class="logo-sm">
              <div class="logo d-flex align-items-center justify-content-center">
                <img src="{{ site.baseurl }}/assets/images/next.png">
              </div>
            </div>
            <div class="logo-text d-flex align-items-center justify-content-center">
              <img src="{{ site.baseurl }}/assets/images/next-full.png">
            </div>
          </div>
        </a>
        <div class="">
          <div class="mobile-toggle sidebar-toggle">
            <a href="#" class="text-decoration-none">
              <i class="far fa-times-circle"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <ul class="sidebar-menu scrollable position-relative pt-3">

      <li class="nav-item dropdown">
        <a class="nav-link wave-effect" href="#">
          <span class="icon-holder">
            <i class="fal fa-home"></i>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link wave-effect" href="#">
          <span class="icon-holder">
            <i class="far fa-terminal"></i>
          </span>
          <span class="title">Code</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link wave-effect" href="#">
          <span class="icon-holder">
            <i class="fal fa-folder-open"></i>
          </span>
          <span class="title">Pages</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link wave-effect dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="fas fa-fingerprint"></i>
          </span>
          <span class="title">Auth</span>
          <span class="arrow">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="sidebar-link" href="#">404</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">
          <span class="icon-holder">
            <i class="fas fa-folder-plus"></i>
          </span>
          <span class="title">Multiple Levels</span>
          <span class="arrow">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
              <span>Menu Item</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
              <span class="title">Menu Items</span>
              <span class="arrow">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Menu Item</a>
              </li>
              <li>
                <a href="#">Menu Item</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>